*.sw*
=======
*.o
*.a
*.so
godep
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
config.ini
wmf
src/code.google.com
src/github.com
/FindMyDevice
env
static/app/l10n