@media only screen and (max-width: 684px) {
  body {
    text-align: center;
  }

  h1 {
    font-size: 36px;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 22px;
  }

  #container {
    .band {
      .band-inner {
        padding: 0 20px;
      }
    }

    #intro {
      margin-top: 20px;

      #tabzilla {
        top: -20px;
      }

      #fxos-logo {
        margin: 0 auto;
        clear: both;
      }

      #hero {
        @include image-replacement(home/laptop-phone-mobile, 283px, 192px);
        margin: 40px auto 0 auto;
      }

      #cta {
        .sign-up {
          @include button;
          background: transparent;
          color: #0095dd;
          margin-top: 10px;
        }

        .sign-in, .sign-up {
          width: 100%;
        }
      }

      .get-started {
        border-color: #9f9f9f;
        border-style: dotted;
        border-width: 1px 0;
        padding: 20px 10px;
      }
    }

    #features {

      .feature {
        background-position: 50% 0;
        padding-top: 150px;
      }
    }

    footer {
      text-align: left;
    }
  }
}
