@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic,400italic,600,600italic,700italic,800,800italic);
/* TypoPRO Fira Sans */
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/FiraSans/FiraSans-Regular.woff') format('woff'), url('/fonts/FiraSans/FiraSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal; }

/* TypoPRO Fira Sans Bold */
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/FiraSans/FiraSans-Bold.woff') format('woff'), url('/fonts/FiraSans/FiraSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-variant: normal; }

/* TypoPRO Fira Sans Italic */
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans/FiraSans-BookItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/FiraSans/FiraSans-BookItalic.woff') format('woff'), url('/fonts/FiraSans/FiraSans-BookItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal; }

/* TypoPRO Fira Sans Bold Italic */
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/FiraSans/FiraSans-BoldItalic.woff') format('woff'), url('/fonts/FiraSans/FiraSans-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-variant: normal; }

/* Border box all the things */
*, *:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

html, body, input, select {
  color: #666666;
  font-family: 'Open Sans', sans-serif; }

html {
  background: url("/images/home/bg-blue-sand.png"); }

body {
  background: url("/images/home/bg-gradient-blue-sand.png") repeat-x;
  border-top: 2px solid #fff;
  padding: 0; }

a {
  color: #0a98de;
  text-decoration: none; }

h1, h2, h3 {
  color: #484848;
  font-weight: 300;
  margin: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

h1 {
  font-size: 62px;
  letter-spacing: -2px; }

h2 {
  font-size: 27px; }

h3 {
  font-size: 26px; }

#container .band {
  clear: both;
  width: 100%; }
  #container .band .band-inner {
    margin: 0 auto;
    max-width: 960px;
    width: 100%; }
    #container .band .band-inner p {
      line-height: 24px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
#container #intro #fxos-logo {
  background-image: url("/images/home/ffos-logo.png");
  background-size: 177px 54px;
  height: 54px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 177px; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #container #intro #fxos-logo {
      background-image: url("/images/home/ffos-logo@2x.png"); } }
#container #intro h1 {
  margin-top: 28px; }
#container #intro p {
  margin-top: 25px; }
#container #intro #cta {
  margin: 45px 0; }
  #container #intro #cta .sign-in {
    background: #0095dd;
    border: 2px solid #0095dd;
    border-radius: 8px;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 10px 0;
    text-align: center; }
#container #features {
  margin: 60px 0;
  overflow: auto; }
  #container #features .feature {
    background-repeat: no-repeat;
    margin-bottom: 55px; }
    #container #features .feature.track {
      background-image: url("/images/home/track.png");
      background-size: 141px 141px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #container #features .feature.track {
          background-image: url("/images/home/track@2x.png"); } }
    #container #features .feature.ring {
      background-image: url("/images/home/ring.png");
      background-size: 141px 141px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #container #features .feature.ring {
          background-image: url("/images/home/ring@2x.png"); } }
    #container #features .feature.lock {
      background-image: url("/images/home/lock.png");
      background-size: 141px 141px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #container #features .feature.lock {
          background-image: url("/images/home/lock@2x.png"); } }
    #container #features .feature.erase {
      background-image: url("/images/home/erase.png");
      background-size: 141px 141px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #container #features .feature.erase {
          background-image: url("/images/home/erase@2x.png"); } }
#container footer {
  background: #fff;
  color: #bbbbbb;
  font-size: 14px;
  padding: 50px 0; }
  #container footer .band-inner {
    overflow: auto; }
    #container footer .band-inner .column {
      float: left;
      width: 33%; }
    #container footer .band-inner ul {
      margin: 0;
      padding: 0; }
      #container footer .band-inner ul li {
        list-style: none; }

@media only screen and (min-width: 685px) {
  #container #intro {
    margin-top: 100px;
    min-height: 623px; }
    #container #intro #tabzilla {
      top: -100px; }
    #container #intro .column {
      float: right;
      position: relative;
      width: 50%; }
    #container #intro #hero {
      background-image: url("/images/home/laptop-phone.png");
      background-size: 992px 623px;
      height: 623px;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      width: 992px;
      position: absolute;
      left: -1015px;
      top: 0; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #container #intro #hero {
          background-image: url("/images/home/laptop-phone@2x.png"); } }
    #container #intro #cta {
      bottom: -120px;
      position: absolute;
      width: 100%; }
      #container #intro #cta .sign-in, #container #intro #cta .sign-up {
        float: left;
        width: 50%; }
      #container #intro #cta .sign-up {
        display: block;
        padding: 14px 0 0 20px; }
        #container #intro #cta .sign-up:after {
          content: ' »'; }
  #container #features .feature {
    float: left;
    min-height: 141px;
    padding-left: 160px;
    width: 50%; }
    #container #features .feature.lock {
      clear: left; }
    #container #features .feature h3 {
      margin-top: 8px; }
    #container #features .feature p {
      margin-top: 5px;
      width: 96%; } }

@media only screen and (min-width: 685px) and (max-width: 960px) {
  h1 {
    font-size: 50px;
    letter-spacing: -1px; }
  h2 {
    font-size: 22px; }
  #container .band .band-inner {
    padding: 0 15px; }
  #container #intro {
    margin-top: 70px; }
    #container #intro #tabzilla {
      top: -70px; }
    #container #intro p {
      margin-top: 15px; }
    #container #intro #cta {
      bottom: -110px; }
      #container #intro #cta .sign-in {
        width: 35%; }
      #container #intro #cta .sign-up {
        padding-left: 15px;
        width: 65%; } }

@media only screen and (max-width: 684px) {
  body {
    text-align: center; }
  h1 {
    font-size: 36px;
    letter-spacing: -1px; }
  h2 {
    font-size: 22px; }
  #container .band .band-inner {
    padding: 0 20px; }
  #container #intro {
    margin-top: 20px; }
    #container #intro #tabzilla {
      top: -20px; }
    #container #intro #fxos-logo {
      margin: 0 auto;
      clear: both; }
    #container #intro #hero {
      background-image: url("/images/home/laptop-phone-mobile.png");
      background-size: 283px 192px;
      height: 192px;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      width: 283px;
      margin: 40px auto 0 auto; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #container #intro #hero {
          background-image: url("/images/home/laptop-phone-mobile@2x.png"); } }
    #container #intro #cta .sign-up {
      background: #0095dd;
      border: 2px solid #0095dd;
      border-radius: 8px;
      color: #fff;
      display: block;
      font-size: 20px;
      padding: 10px 0;
      text-align: center;
      background: transparent;
      color: #0095dd;
      margin-top: 10px; }
    #container #intro #cta .sign-in, #container #intro #cta .sign-up {
      width: 100%; }
    #container #intro .get-started {
      border-color: #9f9f9f;
      border-style: dotted;
      border-width: 1px 0;
      padding: 20px 10px; }
  #container #features .feature {
    background-position: 50% 0;
    padding-top: 150px; }
  #container footer {
    text-align: left; } }
