@import '../variables';
@import '../mixins';
@import '../fonts';

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic,400italic,600,600italic,700italic,800,800italic);

/* Border box all the things */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
input,
select {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
}

html {
  background: image-url('home/bg-blue-sand.png');
}

body {
  background: image-url('home/bg-gradient-blue-sand.png') repeat-x;
  border-top: 2px solid #fff;
  padding: 0;
}

a {
  color: #0a98de;
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #484848;
  font-weight: 300;
  margin: 0;
  text-shadow: 0 1px 0 rgba(255,255,255, 0.80);
}

h1 {
  font-size: 62px;
  letter-spacing: -2px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 26px;
}

@mixin button {
  background: #0095dd;
  border: 2px solid #0095dd;
  border-radius: 8px;
  color: #fff;
  display: block;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}

#container {
  .band {
    //background: red;
    clear: both;
    width: 100%;

    .band-inner {
      //background: yellow;
      margin: 0 auto;
      max-width: 960px;
      width: 100%;

      p {
        line-height: 24px;
        text-shadow: 0 1px 0 rgba(255,255,255, 0.80);
      }
    }
  }

  #intro {
    margin-top: 100px;
    min-height: 623px;

    #tabzilla {
      top: -100px;
    }

    #fxos-logo {
      @include image-replacement(home/ffos-logo, 177px, 54px);
    }

    h1 {
      margin-top: 28px;
    }

    p {
      margin-top: 25px;
    }

    #cta {
      margin: 45px 0;

      .sign-in {
        @include button;
      }
    }
  }

  #features {
    margin: 60px 0;
    overflow: auto;

    .feature {
      background-repeat: no-repeat;
      margin-bottom: 55px;

      &.track {
        @include hidpi-background-image(home/track, 141px 141px);
      }

      &.ring {
        @include hidpi-background-image(home/ring, 141px 141px);
      }

      &.lock {
        @include hidpi-background-image(home/lock, 141px 141px);
      }

      &.erase {
        @include hidpi-background-image(home/erase, 141px 141px);
      }
    }
  }

  footer {
    background: #fff;
    color: #bbbbbb;
    font-size: 14px;
    padding: 50px 0;

    .band-inner {
      overflow: auto;

      .column {
        float: left;
        width: 33%;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
        }
      }
    }
  }
}

@import 'mobile';
@import 'desktop';
