/* Border box all the things */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, input, select {
  font-family: 'TypoPRO Fira Sans', sans-serif;
}

html, body, #stage, #stage > div, #map {
  height: 100%;
  width: 100%;
}

a {
  cursor: pointer;
}

#stage {
  position: relative;

  header {
    background: #f4f4f4;
    height: 50px;
    left: 0;
    padding: 0 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    h1 {
      color: #8a8b97;
      font-size: 22px;
      font-weight: normal;
    }
  }

  footer {
    background: #242426;
    color: #f2f1ec;
    bottom: 0;
    left: 0;
    padding: 4px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000;
  }

}

.leaflet-top {
  top: 50px;
}

.leaflet-bottom {
  bottom: 30px;
}

@media only screen and (min-width: 768px) {
  #stage {
    footer {
      background: #e7e7e7;
      bottom: auto;
      color: #333;
      padding-left: 20px;
      text-align: left;
      top: 50px;
    }
  }

  .leaflet-top {
    top: 75px;
  }

  .leaflet-bottom {
    bottom: 0;
  }
}
