/* Border box all the things */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, input, select {
  font-family: 'TypoPRO Fira Sans', sans-serif;
}

html, body, #stage, #stage > div, #map {
  height: 100%;
  width: 100%;
}

a {
  cursor: pointer;
}

#stage {
  position: relative;

  header {
    background: #f4f4f4;
    height: 47px;
    left: 0;
    padding: 0 34px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    h1 {
      color: #8a8b97;
      font-size: 27px;
      font-weight: normal;
      height: 32px;
      margin-top: -16px;
      position: absolute;
      top: 50%;
    }
  }

  footer {
    background: #242426;
    color: #f2f1ec;
    bottom: 0;
    height: 39px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;

    .button {
      display: block;
      float: left;
      height: 39px;
      width: 33%;

      a {
        background: url(../images/icon-sound-white.png) no-repeat 50% 50%;
        display: block;
        font-size: 13px;
        height: 39px;
        text-indent: -1000em;
        width: 100%;
        line-height: 1em;

        &:active {
          background-color: #6f7181;
        }
      }

      &.play-sound a {
        background-image: url(../images/icon-sound-white.png);
      }

      &.lost-mode a {
        background-image: url(../images/icon-lock-white.png);
      }

      &.erase a {
        background-image: url(../images/icon-erase-white.png);
      }
    }
  }

}

.leaflet-top {
  top: 50px;
}

.leaflet-bottom {
  bottom: 30px;
}

/* Desktop */

@media only screen and (min-width: 768px) {
  #stage {
    footer {
      background: #e7e7e7;
      bottom: auto;
      color: #333;
      height: 47px;
      padding-left: 26px; // 34px - 8px for button padding
      text-align: left;
      top: 47px;

      .button {
        height: 47px;
        width: auto;

        a {
          background: url(../images/icon-sound.png) no-repeat left 50%;
          display: inline-block;
          font-size: 13px;
          height: 47px;
          padding: 15px 12px 0 40px;
          text-indent: 0;
          width: auto;

          &:hover {
            background-color: #d9d9d9;
          }
        }

        &.play-sound a {
          background-image: url(../images/icon-sound.png);
        }

        &.lost-mode a {
          background-image: url(../images/icon-lock.png);
          margin: 0;
        }

        &.erase a {
          background-image: url(../images/icon-erase.png);
        }
      }
    }
  }

  .leaflet-top {
    top: 75px;
  }

  .leaflet-bottom {
    bottom: 0;
  }
}
