@media only screen and (min-width: 768px) {
  #stage {
    padding-bottom: 0; // remove padding on the bottom for footer
    padding-top: $header-height + $footer-height--desktop;

    #map {
      @include hidpi-background-image(bg, 2000px 950px);
    }

    footer {
      background: $footer-background-color--desktop;
      bottom: auto;
      color: $footer-text-color--desktop;
      height: $footer-height--desktop;
      padding-left: 26px; // 34px - 8px for button padding
      text-align: left;
      top: $header-height;

      .button {
        height: 47px;
        width: auto;

        a {
          background: transparent no-repeat left 50%;
          display: inline-block;
          font-size: 14px;
          height: 47px;
          padding: 16px 12px 0 40px;
          text-indent: 0;
          width: auto;

          &:hover {
            background-color: $footer-link-hover-background-color--desktop;
          }
        }
      }
    }
  }

  #modal {
    background-clip: padding-box;
    border-radius: 6px;
    border: 1px solid $modal-border-color;
    box-shadow: 0 5px 8px $modal-box-shadow-color;
    margin-top: 12px;
    width: 300px;

    &::before {
      border-color: transparent transparent $modal-background-color transparent;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      content: '';
      height: 0;
      left: 48px;
      position: absolute;
      top: -10px;
      width: 0;
      z-index: 1001;
    }

    &::after {
      border-color: transparent transparent $modal-box-shadow-color transparent;
      border-style: solid;
      border-width: 0 11px 11px 11px;
      content: '';
      height: 0;
      left: 47px;
      position: absolute;
      top: -11px;
      width: 0;
      z-index: 1000;
    }

    &.drawer {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      left: 0 !important;
      margin-top: 0;
      top: $header-height !important;
      width: 400px;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}
