$font-base: '/fonts/FiraSans/';

/* TypoPRO Fira Sans */
@include font-face(
  $font-family: $default-font-family,
  $path: '#{$font-base}FiraSans-Regular'
);

/* TypoPRO Fira Sans Bold */
@include font-face(
  $font-family: $default-font-family,
  $path: '#{$font-base}FiraSans-Bold',
  $font-weight: bold
);

/* TypoPRO Fira Sans Italic */
@include font-face(
  $font-family: $default-font-family,
  $path: '#{$font-base}FiraSans-BookItalic',
  $font-style: italic
);

/* TypoPRO Fira Sans Bold Italic */
@include font-face(
  $font-family: $default-font-family,
  $path: '#{$font-base}FiraSans-BoldItalic',
  $font-style: italic,
  $font-weight: bold
);
