

@mixin font-face($font-family, $path, $font-style: normal, $font-weight: normal, $font-stretch: normal, $font-variant: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
         url('#{$path}.woff') format('woff'),
         url('#{$path}.ttf') format('truetype');
    font-style: $font-style;
    font-weight: $font-weight;
    font-stretch: $font-stretch;
    font-variant: $font-variant;
  }
}

$font-base: '/bower_components/typopro/web/TypoPRO-FiraSans/';

/* TypoPRO Fira Sans */
@include font-face(
  $font-family: $default-font-family,
  $path: '#{$font-base}TypoPRO-FiraSans-Regular'
);

/* TypoPRO Fira Sans Bold */
@include font-face(
  $font-family: $default-font-family,
  $path: '#{$font-base}TypoPRO-FiraSans-Bold',
  $font-weight: bold
);

/* TypoPRO Fira Sans Italic */
@include font-face(
  $font-family: $default-font-family,
  $path: '#{$font-base}TypoPRO-FiraSans-BookItalic',
  $font-style: italic
);

/* TypoPRO Fira Sans Bold Italic */
@include font-face(
  $font-family: $default-font-family,
  $path: '#{$font-base}TypoPRO-FiraSans-BoldItalic',
  $font-style: italic,
  $font-weight: bold
);
