/* Desktop */

@media only screen and (min-width: 768px) {
  #stage {
    padding-bottom: 0; // remove padding on the bottom for footer
    padding-top: $header-height + $footer-height--desktop;

    header {
      h1 {
        cursor: pointer;
      }
    }

    footer {
      background: $footer-background-color--desktop;
      bottom: auto;
      color: $footer-text-color--desktop;
      height: $footer-height--desktop;
      padding-left: 26px; // 34px - 8px for button padding
      text-align: left;
      top: $header-height;

      .button {
        height: 47px;
        width: auto;

        a {
          background: image-url('icon-sound.png') no-repeat left 50%;
          display: inline-block;
          font-size: 13px;
          height: 47px;
          padding: 15px 12px 0 40px;
          text-indent: 0;
          width: auto;

          &:hover {
            background-color: $footer-link-hover-background-color--desktop;
          }
        }

        &.play-sound a {
          background-image: image-url('icon-sound.png');
        }

        &.lost-mode a {
          background-image: image-url('icon-lock.png');
          margin: 0;
        }

        &.erase a {
          background-image: image-url('icon-erase.png');
        }
      }
    }
  }
}

// Styles are "mobile first" and don't usually belong in this media block. Only rules that are
// important overrides from desktop belong here.
@media only screen and (max-width: 768px) {
  #modal {
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    width: 100%;
  }
}
