// Styles are "mobile first" and don't usually belong in this media block. Only rules that are
// important overrides from desktop belong here.
@media only screen and (max-width: 768px) {
  #modal {
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    width: 100%;

    &.drawer {
      border-bottom: 1px solid #e0e0e0;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
      top: $header-height !important;
      height: auto;
    }
  }
}
