// FONT FAMILIES
$default-font-family: 'TypoPRO Fira Sans', sans-serif;

// COLORS
$footer-background-color--desktop: #fff;
$footer-background-color: #fff;
$footer-height: 39px;
$footer-height--desktop: 47px;
$footer-link-active-background-color: #6f7181;
$footer-link-background-color: #6f7181;
$footer-link-hover-background-color--desktop: #ebebeb;
$footer-text-color--desktop: #56565a;
$footer-text-color: #56565a;
$header-background-color: #f4f4f4;
$header-height: 47px;
$heading-text-color: #8a8b97;
$modal-background-color: #fff;
$modal-button-background-color: #bbb;
$modal-button-danger-background-color: red;
$modal-button-primary-background-color: #5493da;
