/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal; }

/* Open Sans Light */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'), url('fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-variant: normal; }

/* Border box all the things */
*, *:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

html, body, input, select {
  color: #666666;
  font-family: 'Open Sans', sans-serif; }

html {
  background: url("../images/home/bg-blue-sand.png"); }

body {
  background: url("../images/home/bg-gradient-blue-sand.png") repeat-x;
  border-top: 2px solid #fff;
  padding: 0; }

a {
  color: #0a98de;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3 {
  color: #484848;
  font-weight: 300;
  margin: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

h1 {
  font-size: 62px;
  letter-spacing: -2px; }

h2 {
  font-size: 27px; }

h3 {
  font-size: 26px; }

#container .band {
  clear: both;
  width: 100%; }
  #container .band .band-inner {
    margin: 0 auto;
    max-width: 960px;
    width: 100%; }
    #container .band .band-inner p {
      line-height: 24px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
#container #intro #fxos-logo {
  background-image: url("../images/home/ffos-logo.png");
  background-size: 177px 54px;
  height: 54px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 177px; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #container #intro #fxos-logo {
      background-image: url("../images/home/ffos-logo@2x.png"); } }
#container #intro h1 {
  margin-top: 28px; }
#container #intro p {
  margin-top: 25px; }
#container #intro #cta {
  margin: 45px 0; }
  #container #intro #cta .sign-in {
    background: #0095dd;
    border: 2px solid #0095dd;
    border-radius: 8px;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 10px 0;
    text-align: center; }
#container #features {
  margin: 60px 0 50px 0;
  overflow: auto; }
  #container #features .feature {
    background-repeat: no-repeat;
    margin-bottom: 55px; }
    #container #features .feature.track {
      background-image: url("../images/home/track.png");
      background-size: 141px 141px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #container #features .feature.track {
          background-image: url("../images/home/track@2x.png"); } }
    #container #features .feature.ring {
      background-image: url("../images/home/ring.png");
      background-size: 141px 141px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #container #features .feature.ring {
          background-image: url("../images/home/ring@2x.png"); } }
    #container #features .feature.lock {
      background-image: url("../images/home/lock.png");
      background-size: 141px 141px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #container #features .feature.lock {
          background-image: url("../images/home/lock@2x.png"); } }
    #container #features .feature.erase {
      background-image: url("../images/home/erase.png");
      background-size: 141px 141px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #container #features .feature.erase {
          background-image: url("../images/home/erase@2x.png"); } }
#container footer {
  background: #fff;
  color: #bbbbbb;
  font-size: 13px;
  padding: 40px 0; }
  #container footer .mozilla-logo {
    background-image: url("../images/home/mozilla-logo.png");
    background-size: 93px 25px;
    height: 25px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 93px; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      #container footer .mozilla-logo {
        background-image: url("../images/home/mozilla-logo@2x.png"); } }
  #container footer p {
    line-height: 22px !important; }
  #container footer .band-inner {
    overflow: auto; }
    #container footer .band-inner .column {
      float: left;
      padding: 10px;
      width: 33%; }
    #container footer .band-inner ul {
      margin: 0;
      padding: 0;
      overflow: hidden; }
      #container footer .band-inner ul.links-join li, #container footer .band-inner ul.links-legal li {
        display: block;
        list-style: none;
        float: left;
        margin-right: 3px; }
        #container footer .band-inner ul.links-join li:before, #container footer .band-inner ul.links-legal li:before {
          content: ' · '; }
        #container footer .band-inner ul.links-join li.clear, #container footer .band-inner ul.links-legal li.clear {
          clear: left; }
          #container footer .band-inner ul.links-join li.clear:before, #container footer .band-inner ul.links-legal li.clear:before {
            content: ''; }
      #container footer .band-inner ul.links-legal {
        padding-top: 1em; }
      #container footer .band-inner ul.links-social ul {
        display: inline;
        margin-left: 0; }
        #container footer .band-inner ul.links-social ul li {
          display: inline; }
          #container footer .band-inner ul.links-social ul li:before {
            content: ' · '; }
          #container footer .band-inner ul.links-social ul li:first-child:before {
            content: ''; }

@media screen and (min-width: 685px) {
  #container #intro {
    margin-top: 100px;
    min-height: 623px; }
    #container #intro #tabzilla {
      top: -100px; }
    #container #intro .column {
      float: right;
      position: relative;
      width: 50%; }
    #container #intro #hero {
      background-image: url("../images/home/laptop-phone.png");
      background-size: 992px 623px;
      height: 623px;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      width: 992px;
      position: absolute;
      left: -1015px;
      top: 0; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #container #intro #hero {
          background-image: url("../images/home/laptop-phone@2x.png"); } }
    #container #intro #cta {
      bottom: -120px;
      position: absolute;
      width: 100%; }
      #container #intro #cta .sign-in, #container #intro #cta .sign-up {
        float: left;
        width: 50%; }
      #container #intro #cta .sign-up {
        display: block;
        padding: 14px 0 0 20px; }
        #container #intro #cta .sign-up:after {
          content: ' »'; }
  #container #features .feature {
    float: left;
    min-height: 141px;
    padding-left: 160px;
    width: 50%; }
    #container #features .feature.lock {
      clear: left; }
    #container #features .feature h3 {
      margin-top: 8px; }
    #container #features .feature p {
      margin-top: 5px;
      width: 96%; } }

@media screen and (min-width: 685px) and (max-width: 960px) {
  h1 {
    font-size: 50px;
    letter-spacing: -1px; }
  h2 {
    font-size: 22px; }
  #container .band .band-inner {
    padding: 0 15px; }
  #container #intro {
    margin-top: 70px; }
    #container #intro #tabzilla {
      top: -70px; }
    #container #intro p {
      margin-top: 15px; }
    #container #intro #cta {
      bottom: -110px; }
      #container #intro #cta .sign-in {
        width: 35%; }
      #container #intro #cta .sign-up {
        padding-left: 15px;
        width: 65%; }
  #container footer .band-inner .column {
    width: 50%; }
  #container footer .band-inner .column-1 {
    width: 100%;
    float: none; } }

@media screen and (max-width: 684px) {
  h1 {
    font-size: 36px;
    letter-spacing: -1px; }
  h2 {
    font-size: 22px; }
  #container {
    text-align: center; }
    #container .band .band-inner {
      padding: 0 20px; }
    #container #intro {
      margin-top: 20px; }
      #container #intro #tabzilla {
        top: -20px; }
      #container #intro #fxos-logo {
        margin: 0 auto;
        clear: both; }
      #container #intro #hero {
        background-image: url("../images/home/laptop-phone-mobile.png");
        background-size: 283px 192px;
        height: 192px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        width: 283px;
        margin: 20px auto 0 auto; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          #container #intro #hero {
            background-image: url("../images/home/laptop-phone-mobile@2x.png"); } }
      #container #intro #cta {
        margin: 10px 0; }
        #container #intro #cta .sign-up {
          background: #0095dd;
          border: 2px solid #0095dd;
          border-radius: 8px;
          color: #fff;
          display: block;
          font-size: 20px;
          padding: 10px 0;
          text-align: center;
          background: transparent;
          color: #0095dd;
          margin-top: 10px; }
        #container #intro #cta .sign-in, #container #intro #cta .sign-up {
          font-size: 18px;
          width: 100%; }
      #container #intro p {
        padding: 0 10px; }
      #container #intro .get-started {
        border-color: #9f9f9f;
        border-style: dotted;
        border-width: 1px 0;
        padding: 20px 10px; }
    #container #features {
      margin: 35px 0 15px 0; }
      #container #features .feature {
        background-position: 50% 0;
        padding-top: 155px; }
        #container #features .feature p {
          margin-top: 10px; }
    #container footer {
      text-align: left; }
      #container footer .band-inner .column {
        float: none;
        width: 100%; }
      #container footer .band-inner .column-3 {
        padding-top: 14px; } }

html.lt-ie9 #container #intro {
  margin-top: 100px;
  min-height: 623px; }
  html.lt-ie9 #container #intro #tabzilla {
    top: -100px; }
  html.lt-ie9 #container #intro .column {
    float: right;
    position: relative;
    width: 50%; }
  html.lt-ie9 #container #intro #hero {
    background-image: url("../images/home/laptop-phone.png");
    background-size: 992px 623px;
    height: 623px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 992px;
    position: absolute;
    left: -1015px;
    top: 0; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      html.lt-ie9 #container #intro #hero {
        background-image: url("../images/home/laptop-phone@2x.png"); } }
  html.lt-ie9 #container #intro #cta {
    bottom: -120px;
    position: absolute;
    width: 100%; }
    html.lt-ie9 #container #intro #cta .sign-in, html.lt-ie9 #container #intro #cta .sign-up {
      float: left;
      width: 50%; }
    html.lt-ie9 #container #intro #cta .sign-up {
      display: block;
      padding: 14px 0 0 20px; }
      html.lt-ie9 #container #intro #cta .sign-up:after {
        content: ' »'; }
html.lt-ie9 #container #features .feature {
  float: left;
  min-height: 141px;
  padding-left: 160px;
  width: 50%; }
  html.lt-ie9 #container #features .feature.lock {
    clear: left; }
  html.lt-ie9 #container #features .feature h3 {
    margin-top: 8px; }
  html.lt-ie9 #container #features .feature p {
    margin-top: 5px;
    width: 96%; }
