/*! This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
/* TypoPRO Fira Sans Bold */
@font-face {
  font-family: 'TypoPRO Fira Sans';
  src: url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-Bold.eot?#iefix') format('embedded-opentype'), url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-Bold.woff') format('woff'), url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-variant: normal; }

/* TypoPRO Fira Sans Bold Italic */
@font-face {
  font-family: 'TypoPRO Fira Sans';
  src: url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-BoldItalic.woff') format('woff'), url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-variant: normal; }

/* TypoPRO Fira Sans */
@font-face {
  font-family: 'TypoPRO Fira Sans';
  src: url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-Regular.eot?#iefix') format('embedded-opentype'), url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-Regular.woff') format('woff'), url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal; }

/* TypoPRO Fira Sans Italic */
@font-face {
  font-family: 'TypoPRO Fira Sans';
  src: url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-RegularItalic.eot?#iefix') format('embedded-opentype'), url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-RegularItalic.woff') format('woff'), url('/bower_components/typopro/web/TypoPRO-FiraSans/TypoPRO-FiraSans-RegularItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Border box all the things */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, input, select {
  font-family: 'TypoPRO Fira Sans', sans-serif; }

html, body, #stage, #stage > div, #map {
  height: 100%;
  width: 100%; }

a {
  color: #79c8ee;
  cursor: pointer;
  text-decoration: none; }

.hero {
  color: #333;
  padding: 60px 20px 20px 20px;
  text-align: center; }
  .hero h1 {
    margin-bottom: 0; }
  .hero h2 {
    color: #aaa;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin-top: 10px; }
  .hero .signout {
    font-weight: bold; }

#stage {
  padding-bottom: 39px;
  padding-top: 47px;
  position: relative; }
  #stage header {
    background: #f4f4f4;
    height: 47px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000; }
    #stage header .menu {
      background-image: url("../images/nav-menu.png");
      display: block;
      height: 24px;
      left: 17px;
      margin-top: -12px;
      overflow: hidden;
      position: absolute;
      text-indent: 100%;
      top: 50%;
      white-space: nowrap;
      width: 24px; }
    #stage header h1 {
      color: #999;
      font-size: 24px;
      font-style: italic;
      font-weight: normal;
      height: 32px;
      margin-top: -16px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%; }
    #stage header .signout {
      margin-top: -9px;
      position: absolute;
      right: 20px;
      top: 50%; }
  #stage #map {
    background: url("../images/bg.png") no-repeat 50% 50%, -webkit-linear-gradient(270deg, #f4f4f4, #fff);
    background: url("../images/bg.png") no-repeat 50% 50%, linear-gradient(180deg, #f4f4f4, #fff);
    position: relative; }
    #stage #map .locating {
      height: 230px;
      left: 50%;
      margin-left: -100px;
      margin-top: -140px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 200px; }
      #stage #map .locating h2 {
        color: #555;
        font-size: 14px;
        font-weight: normal; }
        #stage #map .locating h2::before {
          -webkit-animation-name: spin;
          animation-name: spin;
          -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          background: url("../images/radar-spinner.png") no-repeat;
          content: '';
          display: block;
          height: 150px;
          margin: 0 auto 35px auto;
          width: 150px; }
    #stage #map .brand {
      background: url("../images/firefoxos.png") no-repeat;
      bottom: 38px;
      height: 30px;
      left: 38px;
      position: absolute;
      text-indent: -1000em;
      width: 147px;
      z-index: 1000; }
    #stage #map .pin-locating-spinner {
      background: url("../images/radar-small-animated.gif") no-repeat;
      height: 39px;
      margin-top: -162px;
      margin-left: 10px;
      position: absolute;
      width: 39px;
      z-index: 500; }
    #stage #map.leaflet-container {
      background: #fff; }
      #stage #map.leaflet-container .locating {
        display: none; }
  #stage footer {
    background: #fff;
    bottom: 0;
    color: #56565a;
    height: 39px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1000; }
    #stage footer .button {
      display: block;
      float: left;
      height: 39px;
      width: 33%; }
      #stage footer .button a {
        background: url("../images/icon-sound.png") no-repeat 50% 50%;
        color: #56565a;
        display: block;
        font-size: 13px;
        height: 39px;
        line-height: 1em;
        text-indent: -1000em;
        width: 100%; }
        #stage footer .button a:active {
          background-color: #79c8ee; }
      #stage footer .button.play-sound a {
        background-image: url("../images/icon-sound.png"); }
      #stage footer .button.lost-mode a {
        background-image: url("../images/icon-lock.png"); }
      #stage footer .button.erase a {
        background-image: url("../images/icon-erase.png"); }

#modal {
  background: #f4f4f4;
  color: #686868;
  display: none;
  position: absolute;
  z-index: 1000; }
  #modal header {
    padding: 7px 20px;
    position: relative; }
    #modal header h2 {
      color: #999;
      font-size: 24px;
      font-style: italic;
      font-weight: normal;
      margin: 0;
      text-align: center; }
      #modal header h2 small {
        font-size: 18px; }
    #modal header .close, #modal header .back {
      display: block;
      height: 24px;
      left: 17px;
      margin-top: -12px;
      overflow: hidden;
      position: absolute;
      text-indent: 100%;
      top: 50%;
      white-space: nowrap;
      width: 24px; }
    #modal header .close {
      background-image: url("../images/nav-close.png"); }
    #modal header .back {
      background-image: url("../images/nav-back.png"); }
  #modal .stepper {
    background: #fff;
    height: 5px;
    margin: 0;
    padding: 0 5px 0 0; }
    #modal .stepper li {
      border-top: 5px solid #fff;
      display: block;
      float: left;
      height: 0;
      list-style: none;
      overflow: hidden;
      width: 50%; }
      #modal .stepper li.active, #modal .stepper li.complete {
        border-color: #65aeef;
        border-right: 5px solid #fff; }
      #modal .stepper li.complete {
        border-right: 0; }
  #modal section {
    padding: 20px; }
    #modal section p:first-child {
      margin-top: 0; }
    #modal section button, #modal section input, #modal section textarea {
      width: 100%; }
    #modal section input, #modal section textarea {
      border: 1px solid #ccc;
      padding: 8px; }
    #modal section textarea {
      height: 75px;
      resize: none; }
  #modal footer {
    padding: 0 20px 20px 20px; }
    #modal footer .buttons {
      margin-top: 0;
      text-align: center; }
      #modal footer .buttons button {
        width: 48%; }
  #modal .buttons {
    margin-top: 20px; }
    #modal .buttons button {
      background: #bbb;
      border: none;
      border-radius: 20px;
      color: #fff;
      font-style: italic;
      outline: 0;
      padding: 10px; }
      #modal .buttons button:hover {
        background: #c3c3c3; }
      #modal .buttons button:active {
        background: #aeaeae; }
      #modal .buttons button.danger {
        background: red; }
        #modal .buttons button.danger:hover {
          background: #ff1a1a; }
        #modal .buttons button.danger:active {
          background: #e60000; }
      #modal .buttons button.primary {
        background: #79c8ee; }
        #modal .buttons button.primary:hover {
          background: #90d2f1; }
        #modal .buttons button.primary:active {
          background: #62c0eb; }
  #modal.drawer {
    background: #fff; }
    #modal.drawer section {
      padding: 0; }
      #modal.drawer section ul {
        margin: 0;
        padding: 0; }
        #modal.drawer section ul li {
          border-bottom: 1px solid #e0e0e0;
          list-style: none; }
          #modal.drawer section ul li:last-child {
            border-bottom: 0; }
          #modal.drawer section ul li a, #modal.drawer section ul li span {
            background: url("../images/icon-device.png") no-repeat 16px 50%, url("../images/nav-forward.png") no-repeat right 16px top 50%;
            color: inherit;
            display: block;
            padding: 18px 0 18px 60px; }
            #modal.drawer section ul li a.selected, #modal.drawer section ul li span.selected {
              background: url("../images/icon-device-active.png") no-repeat left 16px top 50%, url("../images/icon-check.png") no-repeat right 16px top 50%; }

#notifier {
  background: #f8e979;
  bottom: 0;
  color: #554f25;
  display: none;
  left: 0;
  padding: 28px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1001; }

@media only screen and (min-width: 768px) {
  #stage {
    padding-bottom: 0;
    padding-top: 94px; }
    #stage footer {
      background: #fff;
      bottom: auto;
      color: #56565a;
      height: 47px;
      padding-left: 26px;
      text-align: left;
      top: 47px; }
      #stage footer .button {
        height: 47px;
        width: auto; }
        #stage footer .button a {
          background: url("../images/icon-sound.png") no-repeat left 50%;
          display: inline-block;
          font-size: 14px;
          height: 47px;
          padding: 16px 12px 0 40px;
          text-indent: 0;
          width: auto; }
          #stage footer .button a:hover {
            background-color: #ebebeb; }
        #stage footer .button.play-sound a {
          background-image: url("../images/icon-sound.png"); }
        #stage footer .button.lost-mode a {
          background-image: url("../images/icon-lock.png");
          margin: 0; }
        #stage footer .button.erase a {
          background-image: url("../images/icon-erase.png"); }
  #modal {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-top: 12px;
    width: 300px; }
    #modal::before {
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #f4f4f4 transparent;
      content: '';
      height: 0;
      left: 48px;
      position: absolute;
      top: -10px;
      width: 0;
      z-index: 1001; }
    #modal::after {
      border-style: solid;
      border-width: 0 11px 11px 11px;
      border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
      content: '';
      height: 0;
      left: 47px;
      position: absolute;
      top: -11px;
      width: 0;
      z-index: 1000; }
    #modal.drawer {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      left: 0 !important;
      margin-top: 0;
      top: 47px !important;
      width: 400px; }
      #modal.drawer::before, #modal.drawer::after {
        display: none; } }

@media only screen and (max-width: 768px) {
  #modal {
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    width: 100%; }
    #modal.drawer {
      border-bottom: 1px solid #e0e0e0;
      -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
      top: 47px !important;
      height: auto; } }
