/*! This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "variables";

/* Border box all the things */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
input,
select {
  font-family: $default-font-family;
}

html,
body,
#stage,
#stage > div,
#map {
  height: 100%;
  width: 100%;
}

a {
  cursor: pointer;
}

// "To Be Determined" style for placeholder-ish things
// .tbd {
//   background: yellow !important;
//   color: purple !important;
//   font-style: italic !important;
// }

.hero {
  color: #333;
  padding: 60px 20px 20px 20px;
  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    color: #aaa;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin-top: 10px;
  }

  .signout {
    font-weight: bold;
  }
}

#stage {
  padding-bottom: 39px; // starts content above footer
  padding-top: 47px; // starts content below header
  position: relative;

  header {
    background: $header-background-color;
    height: 47px;
    left: 0;
    padding: 0 34px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    h1 {
      color: $heading-text-color;
      font-size: 27px;
      font-style: italic;
      font-weight: normal;
      height: 32px;
      margin-top: -16px;
      position: absolute;
      top: 50%;
    }

    .signout {
      color: $heading-text-color;
      font-style: italic;
      margin-top: -9px;
      position: absolute;
      right: 20px;
      top: 50%;
    }
  }

  footer {
    background: $footer-background-color;
    bottom: 0;
    color: $footer-text-color;
    height: 39px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;

    .button {
      display: block;
      float: left;
      height: 39px;
      width: 33%;

      a {
        background: image-url('icon-sound-white.png') no-repeat 50% 50%;
        display: block;
        font-size: 13px;
        height: 39px;
        line-height: 1em;
        text-indent: -1000em;
        width: 100%;

        &:active {
          background-color: $footer-link-active-background-color;
        }
      }

      &.play-sound a {
        background-image: image-url('icon-sound-white.png');
      }

      &.lost-mode a {
        background-image: image-url('icon-lock-white.png');
      }

      &.erase a {
        background-image: image-url('icon-erase-white.png');
      }
    }
  }
}

#modal {
  background: $modal-background-color;
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: none;
  overflow: hidden;
  position: absolute;
  width: 300px;
  z-index: 1000;

  header {
    background: $header-background-color;
    padding: 5px 20px;

    h2 {
      color: $heading-text-color;
      font-size: 27px;
      font-style: italic;
      font-weight: normal;
      margin: 0;

      small {
        font-size: 18px;
      }
    }
  }

  section {
    padding: 20px;

    p:first-child {
      margin-top: 0;
    }

    button, input, textarea {
      width: 100%;
    }

    input, textarea {
      border: 1px solid #ccc;
      padding: 8px;
    }

    textarea {
      height: 75px;
      resize: none;
    }
  }

  footer {
    padding: 0 20px 20px 20px;

    .buttons {
      margin-top: 0;
      text-align: center;

      button {
        width: 48%;
      }
    }
  }

  .buttons {
    margin-top: 20px;

    button {
      background: $modal-button-background-color;
      border: none;
      border-radius: 5px;
      color: #fff;
      padding: 10px;

      &:hover {
        background: lighten($modal-button-background-color, 3%);
      }

      &:active {
        background: darken($modal-button-background-color, 5%);
      }

      &.danger {
        background: $modal-button-danger-background-color;

        &:hover {
          background: lighten($modal-button-danger-background-color, 5%);
        }

        &:active {
          background: darken($modal-button-danger-background-color, 5%);
        }
      }

      &.primary {
        background: $modal-button-primary-background-color;

        &:hover {
          background: lighten($modal-button-primary-background-color, 5%);
        }

        &:active {
          background: darken($modal-button-primary-background-color, 5%);
        }
      }
    }
  }
}

@import "media_queries";
