/*! This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "variables";
@import "fonts";
@import "keyframes";

/* Border box all the things */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
input,
select {
  font-family: $default-font-family;
}

html,
body,
#stage,
#stage > div,
#map {
  height: 100%;
  width: 100%;
}

a {
  color: #79c8ee;
  cursor: pointer;
  text-decoration: none;
}

.hero {
  color: #333;
  padding: 60px 20px 20px 20px;
  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    color: #aaa;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin-top: 10px;
  }

  .signout {
    font-weight: bold;
  }
}

#stage {
  padding-bottom: $footer-height; // starts content above footer
  padding-top: $header-height; // starts content below header
  position: relative;

  header {
    background: $header-background-color;
    height: $header-height;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    .menu {
      background-image: image-url('nav-menu.png');
      display: block;
      height: 24px;
      left: 17px;
      margin-top: -12px;
      overflow: hidden;
      position: absolute;
      text-indent: 100%;
      top: 50%;
      white-space: nowrap;
      width: 24px;
    }

    h1 {
      color: $heading-text-color;
      font-size: 24px;
      font-style: italic;
      font-weight: normal;
      height: 32px;
      margin-top: -16px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
    }

    .signout {
      margin-top: -9px;
      position: absolute;
      right: 20px;
      top: 50%;
    }
  }

  #map {
    background: image-url('bg.png') no-repeat 50% 50%, linear-gradient(180deg, $header-background-color, #fff);
    position: relative;

    .locating {
      height: 230px;
      left: 50%;
      margin-left: -100px;
      margin-top: -140px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 200px;

      h2 {
        color: #555;
        font-size: 14px;
        font-weight: normal;

        &::before {
          animation-name: spin;
          animation-duration: 1500ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          background: image-url('radar-spinner.png') no-repeat;
          content: '';
          display: block;
          height: 150px;
          margin: 0 auto 35px auto;
          width: 150px;
        }
      }
    }

    .brand {
      background: image-url('firefoxos.png') no-repeat;
      bottom: 38px;
      height: 30px;
      left: 38px;
      position: absolute;
      text-indent: -1000em;
      width: 147px;
      z-index: 1000;
    }

    .pin-locating-spinner {
      background: image-url('radar-small-animated.gif') no-repeat;
      height: 39px;
      margin-top: -162px;
      margin-left: 10px;
      position: absolute;
      width: 39px;
      z-index: 500;
    }

    // Hide when the map is loaded
    &.leaflet-container {
      background: #fff;

      .locating {
        display: none;
      }
    }
  }

  footer {
    background: $footer-background-color;
    bottom: 0;
    color: $footer-text-color;
    height: $footer-height;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;

    .button {
      display: block;
      float: left;
      height: 39px;
      width: 33%;

      a {
        background: image-url('icon-sound.png') no-repeat 50% 50%;
        color: $footer-text-color;
        display: block;
        font-size: 13px;
        height: 39px;
        line-height: 1em;
        text-indent: -1000em;
        width: 100%;

        &:active {
          background-color: $footer-link-active-background-color;
        }
      }

      &.play-sound a {
        background-image: image-url('icon-sound.png');
      }

      &.lost-mode a {
        background-image: image-url('icon-lock.png');
      }

      &.erase a {
        background-image: image-url('icon-erase.png');
      }
    }
  }
}

#modal {
  background: $modal-background-color;
  color: $modal-text-color;
  display: none;
  position: absolute;
  z-index: 1000;

  header {
    padding: 7px 20px;
    position: relative;

    h2 {
      color: $heading-text-color;
      font-size: 24px;
      font-style: italic;
      font-weight: normal;
      margin: 0;
      text-align: center;

      small {
        font-size: 18px;
      }
    }

    .close, .back {
      display: block;
      height: 24px;
      left: 17px;
      margin-top: -12px;
      overflow: hidden;
      position: absolute;
      text-indent: 100%;
      top: 50%;
      white-space: nowrap;
      width: 24px;
    }

    .close {
      background-image: image-url('nav-close.png');
    }

    .back {
      background-image: image-url('nav-back.png');
    }
  }

  .stepper {
    background: #fff;
    height: 5px;
    margin: 0;
    padding: 0 5px 0 0;

    li {
      border-top: 5px solid #fff;
      display: block;
      float: left;
      height: 0;
      list-style: none;
      overflow: hidden;
      width: 50%;

      &.active, &.complete {
        border-color: #65aeef;
        border-right: 5px solid #fff;
      }

      &.complete {
        border-right: 0;
      }
    }
  }

  section {
    padding: 20px;

    p:first-child {
      margin-top: 0;
    }

    button, input, textarea {
      width: 100%;
    }

    input, textarea {
      border: 1px solid #ccc;
      padding: 8px;
    }

    textarea {
      height: 75px;
      resize: none;
    }
  }

  footer {
    padding: 0 20px 20px 20px;

    .buttons {
      margin-top: 0;
      text-align: center;

      button {
        width: 48%;
      }
    }
  }

  .buttons {
    margin-top: 20px;

    button {
      background: $modal-button-background-color;
      border: none;
      border-radius: 20px;
      color: #fff;
      font-style: italic;
      outline: 0;
      padding: 10px;

      &:hover {
        background: lighten($modal-button-background-color, 3%);
      }

      &:active {
        background: darken($modal-button-background-color, 5%);
      }

      &.danger {
        background: $modal-button-danger-background-color;

        &:hover {
          background: lighten($modal-button-danger-background-color, 5%);
        }

        &:active {
          background: darken($modal-button-danger-background-color, 5%);
        }
      }

      &.primary {
        background: $modal-button-primary-background-color;

        &:hover {
          background: lighten($modal-button-primary-background-color, 5%);
        }

        &:active {
          background: darken($modal-button-primary-background-color, 5%);
        }
      }
    }
  }

  &.drawer {
    background: #fff;

    section {
      padding: 0;

      ul {
        margin: 0;
        padding: 0;

        li {
          border-bottom: 1px solid #e0e0e0;
          list-style: none;

          &:last-child {
            border-bottom: 0;
          }

          a, span {
            background:
              image-url('icon-device.png') no-repeat 16px 50%,
              image-url('nav-forward.png') no-repeat right 16px top 50%;
            color: inherit;
            display: block;
            padding: 18px 0 18px 60px;

            &.selected {
              background:
                image-url('icon-device-active.png') no-repeat left 16px top 50%,
                image-url('icon-check.png') no-repeat right 16px top 50%;
            }
          }
        }
      }
    }
  }
}

#notifier {
  background: #f8e979;
  bottom: 0;
  color: #554f25;
  display: none;
  left: 0;
  padding: 28px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1001;
}

@import "desktop";
@import "mobile_overrides";
