/*! This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import 'variables';
@import 'mixins';
@import 'main/fonts';
@import 'main/keyframes';

/* Border box all the things */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
input,
select {
  font-family: $default-font-family, sans-serif;
}

html,
body,
#stage,
#stage > div,
#map {
  height: 100%;
  width: 100%;
}

a {
  color: $anchor-color;
  cursor: pointer;
  text-decoration: none;
}

.hero {
  color: $hero-color;
  padding: 60px 20px 20px 20px;
  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    color: $heading-color;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin-top: 10px;
  }

  .signout {
    font-weight: bold;
  }
}

#stage {
  padding-bottom: $footer-height; // starts content above footer
  padding-top: $header-height; // starts content below header
  position: relative;

  header {
    background: $header-background-color;
    height: $header-height;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    .menu {
      @include hidpi-background-image(nav-menu, 24px 24px);
      display: block;
      height: 24px;
      left: 17px;
      margin-top: -12px;
      overflow: hidden;
      position: absolute;
      text-indent: 100%;
      top: 50%;
      white-space: nowrap;
      width: 24px;
    }

    h1 {
      color: $heading-text-color;
      font-size: 24px;
      font-style: italic;
      font-weight: normal;
      height: 32px;
      margin-top: -16px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
    }

    .signout {
      margin-top: -9px;
      position: absolute;
      right: 20px;
      top: 50%;
    }
  }

  #map {
    background: transparent no-repeat 50% 50%, linear-gradient(180deg, $header-background-color, #fff);
    position: relative;

    .locating {
      height: 230px;
      left: 50%;
      margin-left: -100px;
      margin-top: -140px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 200px;

      h2 {
        color: $map-heading-color;
        font-size: 14px;
        font-weight: normal;
        position: relative;

        &::before {
          @include hidpi-background-image(spinner, 150px 150px);
          animation-duration: 1500ms;
          animation-iteration-count: infinite;
          animation-name: spin;
          animation-timing-function: linear;
          background-repeat: no-repeat;
          content: '';
          display: block;
          height: 150px;
          margin: 0 auto 35px auto;
          width: 150px;
        }

        &::after {
          @include hidpi-background-image(spinner-binoculars, 90px 90px);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          content: '';
          display: block;
          height: 150px;
          left: 50%;
          margin-left: -75px;
          position: absolute;
          top: 0;
          width: 150px;
        }
      }
    }

    .brand {
      @include hidpi-background-image(firefoxos, 147px 30px);
      background-repeat: no-repeat;
      bottom: 38px;
      height: 30px;
      left: 38px;
      position: absolute;
      text-indent: -1000em;
      width: 147px;
      z-index: 1000;
    }

    .pin-locating-spinner {
      @include hidpi-background-image(spinner-small-animated, 39px 39px, gif);
      background-repeat: no-repeat;
      height: 39px;
      margin-left: 10px;
      margin-top: -162px;
      position: absolute;
      width: 39px;
      z-index: 500;
    }

    // Hide when the map is loaded
    &.leaflet-container {
      background: #fff;

      .locating {
        display: none;
      }
    }
  }

  footer {
    background: $footer-background-color;
    bottom: 0;
    color: $footer-text-color;
    height: $footer-height;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;

    .button {
      display: block;
      float: left;
      height: 39px;
      width: 33%;

      a {
        background: transparent no-repeat 50% 50%;
        color: $footer-text-color;
        display: block;
        font-size: 13px;
        height: 39px;
        line-height: 1em;
        text-indent: -1000em;
        width: 100%;

        &:active {
          background-color: $footer-link-active-background-color;
        }
      }

      &.play-sound a {
        @include hidpi-background-image(icon-sound, 39px 39px);
      }

      &.lost-mode a {
        @include hidpi-background-image(icon-lock, 39px 39px);
      }

      &.erase a {
        @include hidpi-background-image(icon-erase, 39px 39px);
      }
    }
  }
}

#modal {
  background: $modal-background-color;
  color: $modal-text-color;
  display: none;
  position: absolute;
  z-index: 1000;

  header {
    padding: 7px 20px;
    position: relative;

    h2 {
      color: $heading-text-color;
      font-size: 24px;
      font-style: italic;
      font-weight: normal;
      margin: 0;
      text-align: center;

      small {
        font-size: 18px;
      }
    }

    .close,
    .back {
      display: block;
      height: 24px;
      left: 17px;
      margin-top: -12px;
      overflow: hidden;
      position: absolute;
      text-indent: 100%;
      top: 50%;
      white-space: nowrap;
      width: 24px;
    }

    .close {
      @include hidpi-background-image(nav-close, 24px 24px);
    }

    .back {
      @include hidpi-background-image(nav-back, 24px 24px);
    }
  }

  .stepper {
    background: $stepper-background-color;
    height: 5px;
    margin: 0;
    padding: 0 5px 0 0;

    li {
      border-top: 5px solid $stepper-background-color;
      display: block;
      float: left;
      height: 0;
      list-style: none;
      overflow: hidden;
      width: 50%;

      &.active,
      &.complete {
        border-color: $stepper-complete-border-color;
        border-right: 5px solid $stepper-background-color;
      }

      &.complete {
        border-right: 0;
      }
    }
  }

  section {
    padding: 20px;

    p:first-child {
      margin-top: 0;
    }

    button,
    input,
    textarea {
      width: 100%;
    }

    input,
    textarea {
      border: 1px solid #ccc;
      padding: 8px;
    }

    textarea {
      height: 75px;
      resize: none;
    }

    .parsley-errors-list {
      margin: 0;
      padding: 0;

      li {
        background: $parsley-error-background-color;
        color: $parsley-error-text-color;
        display: inline-block;
        font-size: 14px;
        list-style: none;
        margin: 4px 0 0 1px;
        padding: 4px 10px 3px 10px;
        position: relative;

        &::before {
          border-color: transparent transparent $parsley-error-background-color transparent;
          border-style: solid;
          border-width: 0 8px 8px 8px;
          content: '';
          height: 0;
          left: 10px;
          position: absolute;
          top: -8px;
          width: 0;
        }
      }
    }
  }

  footer {
    padding: 0 20px 20px 20px;

    .buttons {
      margin-top: 0;
      text-align: center;

      button {
        width: 48%;
      }
    }
  }

  .buttons {
    margin-top: 20px;

    button {
      background: $modal-button-background-color;
      border: 0;
      border-radius: 22px;
      color: $button-text-color;
      font-style: italic;
      outline: 0;
      padding: 10px;

      &:hover {
        background: lighten($modal-button-background-color, $button-hover-pct);
      }

      &:active {
        background: darken($modal-button-background-color, $button-hover-pct);
      }

      &.danger {
        background: $modal-button-danger-background-color;

        &:hover {
          background: lighten($modal-button-danger-background-color, $button-hover-pct);
        }

        &:active {
          background: darken($modal-button-danger-background-color, $button-hover-pct);
        }
      }

      &.primary {
        background: $modal-button-primary-background-color;

        &:hover {
          background: lighten($modal-button-primary-background-color, $button-hover-pct);
        }

        &:active {
          background: darken($modal-button-primary-background-color, $button-hover-pct);
        }
      }
    }
  }

  &.drawer {
    background: $footer-background-color;

    section {
      padding: 0;

      ul {
        margin: 0;
        padding: 0;

        li {
          background: transparent no-repeat 16px 50%;
          @include hidpi-background-image(icon-device, 32px 32px);
          border-bottom: 1px solid #e0e0e0;
          list-style: none;

          &.selected {
            background: transparent no-repeat left 16px top 50%;
            @include hidpi-background-image(icon-device-active, 32px 32px);

            a,
            span {
              background: transparent no-repeat right 16px top 50%;
              @include hidpi-background-image(icon-check, 24px 24px);
            }
          }

          &:last-child {
            border-bottom: 0;
          }

          a,
          span {
            background: transparent no-repeat right 16px top 50%;
            @include hidpi-background-image(nav-forward, 24px 24px);
            color: inherit;
            display: block;
            padding: 18px 0 18px 60px;
          }
        }
      }
    }
  }
}

#notifier {
  background: $notification-background-color;
  bottom: 0;
  color: $notification-text-color;
  display: none;
  left: 0;
  padding: 28px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1001;
}

@import 'main/desktop';
@import 'main/mobile_overrides';
