<form>
  <header>
    <a class="close">{{#l}}Close{{/l}}</a>
    <h2>{{#l}}Lock Device{{/l}}</h2>
  </header>
  {{^hasPasscode}}
    <ul class="stepper">
      <li class="active">{{#l}}Step 1{{/l}}</li>
      <li>{{#l}}Step 2{{/l}}</li>
    </ul>
  {{/hasPasscode}}
  <section>
    <p>{{#l}}Enter a note to show on the device:{{/l}}</p>

    <textarea class="note" maxlength="100" placeholder="Note (optional)">{{ note }}</textarea>

    <div class="buttons">
      {{#hasPasscode}}
        <button class="activate primary">{{#l}}Lock Device{{/l}}</button>
      {{/hasPasscode}}
      {{^hasPasscode}}
        <button class="next primary">{{#l}}Next{{/l}}</button>
      {{/hasPasscode}}
    </div>
  </section>
</form>
