<form>
  <header>
    <h2>Lost Mode <small>(continued)</small></h2>
  </header>
  <section>
    <p>Lock your phone by entering a passcode:</p>

    <input type="text" class="passcode" required pattern="\d{4}" maxlength="4">

    <p>Enter passcode again:</p>

    <input type="text" class="passcode" required pattern="\d{4}" maxlength="4">

    <p>Once your phone is locked, you will not be able to change this code again.</p>

    <div class="buttons">
      <button class="activate primary">Activate Lost Mode</button>
    </div>
  </section>
</form>
