<form>
  <header>
    <a class="back">Back</a>
    <h2>Lock Device</h2>
  </header>
  <ul class="stepper">
    <li class="complete">Step 1</li>
    <li class="active">Step 2</li>
  </ul>
  <section>
    <p>Lock your device by entering a passcode:</p>

    <input type="text" name="passcode-1" class="passcode" required pattern="\d{4}" maxlength="4">

    <p>Enter passcode again:</p>

    <input type="text" name="passcode-2" class="passcode" required pattern="\d{4}" maxlength="4">

    <p>Once your device is locked, you will not be able to change this code again.</p>

    <div class="buttons">
      <button class="activate primary">Lock Device</button>
    </div>
  </section>
</form>
