<form>
  <header>
    <h2>Lost Mode</h2>
  </header>
  <section>
    <p>Enter a note that will be shown with your phone number on the phone.</p>

    <textarea class="note" maxlength="100" placeholder="Note (optional)"></textarea>

    <div class="buttons">
      {{#hasPasscode}}
        <button class="activate primary">Activate Lost Mode</button>
      {{/hasPasscode}}
      {{^hasPasscode}}
        <button class="next primary">Next</button>
      {{/hasPasscode}}
    </div>
  </section>
</form>
