<form>
  <header>
    <a class="close">Close</a>
    <h2>Lost Mode</h2>
  </header>
  <ul class="stepper">
    <li class="active">Step 1</li>
    <li>Step 2</li>
  </ul>
  <section>
    <p>Enter a note that will be shown on the phone.</p>

    <textarea class="note" maxlength="100" placeholder="Note (optional)">{{ note }}</textarea>

    <div class="buttons">
      {{#hasPasscode}}
        <button class="activate primary">Activate Lost Mode</button>
      {{/hasPasscode}}
      {{^hasPasscode}}
        <button class="next primary">Next</button>
      {{/hasPasscode}}
    </div>
  </section>
</form>
