<!DOCTYPE html>
<head>
{{/*
    Because the product name is in flux, pull it  from the config as
    "productname". The format for how to use templates in go is at
    http://golang.org/pkg/text/template/
*/}}
    <title>{{.ProductName}}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css">
</head>
<body>
    <header>
    <h1>{{.ProductName}}</h1>
    <div id="login">
        {{if not .UserId}}
        <div id="persona-login"><div id="browserid"><img src="https://login.persona.org/i/sign_in_blue.png" id="signin"></div></div>
        {{else}}
        <div id="persona-logout"><a href="/" id="signout">Logout</a></div>
        {{end}}
    </div>
    </header>
    <div class="welcome">
{{if not .UserId}}
        Please log in so that there is such wow and joy.
        </div>
        {{else}}
{{/*
    All are welcome! Everything is possible at Zombo!
*/}}

        <p>Welcome!</p>
        </div>
{{/*
this is a pretty crappy device picker. Obviously, it should be better.
*/}}
{{  if len .DeviceList }}
        <div class="caption">You have more than one device.
        Please select which device you'd like to work with.</div>
    <ul id="devices">
{{      range $device := .DeviceList}}
        <li><a href="{{urlquery ($device.ID)}}">{{html ($device.Name)}}</a></li>
{{      end}}
</ul>
{{  else }}
{{/* Otherwise, dump the Device info we have */}}
{{if not .Device}}
    <div class="device">You have no device registered yet.</div>
{{end}}
{{with $device := .Device}}
    <div class="device" data-id="{{$device.ID}}">
        <div class="status">
            <div class="name">{{html ($device.Name)}}'s Phone</div>
            <div class="loggedin" data-state="{{$device.LoggedIn}}">Device is {{if not $device.LoggedIn }}<b>not</b>{{end}} accessible</div>
            <div id="lockable" data-state="{{$device.Lockable}}">
                <div class="locked">Device has a lock code</div>
                <div class="unlocked">Device dos not have a lock code</div>
            </div>
            <div >Last contact: <span id="lastExchange" class="date" data-time="{{$device.LastExchange}}"</span></div>
            <ol class="positions">
                <!-- Positions are from oldest to newest because map icons
                 are appended to the list. Kind of annoying.
                 You can also sort by data-time locally if desired. -->
                {{range $position := $device.PreviousPositions}}
                <li> <a data-latitude={{$position.Latitude}} data-longitude={{$position.Longitude}} data-altitude={{$position.Altitude}} href="http://maps.google.com/maps?hl=en&ll={{$position.Latitude}},{{$position.Longitude}}" data-time="{{$position.Time}}" class="position">Position at <span class="date" data-time="{{$position.Time}}">{{$position.Time}}</span></a></li>
                {{end}}
            </ol>
            {{/*
            TODO: Only display commands client accepts.
            Note: Because of page cleverness, you should keep the label
            and input under the same parent.
            */}}
        <table class="commands">
            <tr class="cmd t"><td><button data-cmd="t" class="cmdb">Track</button></td><td><label for="d">Duration (in seconds):</label><input name="d" placeholder="600"></td></tr>
            <tr class="cmd r"><td><button data-cmd="r" class="cmdb">Ring</button></td><td><label for="d">Duration (in seconds):</label><input name="d" placeholder="60"></td></tr>
            <tr class="cmd l">
                <td><button data-cmd="l" class="cmdb">Lock</button></td><td><label for="c">Lock Code:</label><input id="lockcode" name="c" placeholder="0000" {{ if not $device.Lockable }} disabled title="Device already has a lock code set."{{end}}/><br>
                    <label for="m">Lock Screen Message</label><input name="m" placeholder="Help! I'm lost!"/></td></tr>
            <tr class="cmd e"><td><button data-cmd="e" class="cmdb">Erase</button></td></tr>
        </table>
        </div>
        </div>
        <div class="map" id="map_{{$device.ID}}"></div>
{{end}}{{/* with device */}}
{{end}}{{/* else devicelist */}}
{{end}}{{/* else userid */}}
<footer>
<!-- completely optional Footery stuffs... -->
</footer>
         <script id='bidjs' src="https://login.persona.org/include.js" type="text/javascript"></script>
         <script id="mapbox" src="//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.js" type="text/javascript"></script>
         <script type="text/javascript">
// javascript

function getDeviceId() {
    return document.getElementsByClassName("device")[0].dataset.id
}

function getUserId() {
    return RegExp("user=([^;]*)").exec(document.cookie)[1]
}

function cmdResponse() {
    console.debug("cmdResponse", this);
    //TODO: Update page to show cmd in effect
}

function toDateString(utc) {
    day = new Date(0);
    day.setUTCSeconds(parseInt(utc));
    return day.toString();
}

function deviceUpdate(devInfo) {
    var ls = document.getElementById("lockable");
    var lc = document.getElementById("lockcode");
    console.debug(devInfo);
    if (devInfo.Lockable) {
        ls.getElementsByClassName("locked")[0].style.display="none";
        ls.getElementsByClassName("unlocked")[0].style.display="block";
        lc.disabled=false;
        lc.title="Device already has a lock code set.";
    } else {
        ls.getElementsByClassName("locked")[0].style.display="block";
        ls.getElementsByClassName("unlocked")[0].style.display="none";
        lc.disabled=true;
        lc.title="";
    }
    if (devInfo.Time) {
        var le = document.getElementById("lastExchange");
        le.dataset.time = devInfo.Time;
        le.innerHTML = toDateString(devInfo.Time);
    }
}

function sendCommand(cmd) {
    // generate HAWK header
    var xhr = new XMLHttpRequest();
    xhr.onload = function(e) {
        console.debug("cmdResponse", e);
        try {
            ee = JSON.parse(e.target.response);
            if (ee.error) {
                //TODO: Show error
                console.error("Error!", ee);
            }
        } catch (x) {
            console.error(e, x);
        }
    }
    xhr.onerror = function(e,f) {
        console.error("cmdError", e, f);
    }
    console.debug("Sending", cmd);
    xhr.open("PUT", "/0/queue/" + getDeviceId());
    xhr.send(JSON.stringify(cmd));
}

function newMarker(lat, lon, secs) {
    // see https://www.mapbox.com/developers/simplestyle/
    var d = new Date(secs*1000);
    var marker = L.mapbox.markerLayer({
        type: "Feature",
        geometry: {
            type: "Point",
            coordinates:[lon, lat]
        },
        properties:{
            'marker-color': '#f00',
            'marker-symbol':'telephone',
            title:d.toLocaleTimeString(),
            description: d.toLocaleDateString(),
            }});
    return marker
}

function fadeMarkers() {
    var markers = document.getElementsByClassName("leaflet-marker-icon");
    var i = markers.length-1;
    var inc = 1 / i;
    console.log("Fading " + i + " markers");
    for (;i>=0;i--) {
        markers[i].style.opacity = i * inc;
    }
}

window.addEventListener("load",
        function() {
        var body = document.getElementsByTagName("body")[0];
        var email="";
        if (body.dataset.user) {
            email = body.dataset.user;
        }
        navigator.id.watch({
                loggedInUser:email,
                onlogout: function(e){
                str = document.cookie;
                if ((str.length > 0) && str.indexOf("user")>=0) {
                    alert("logging off...");
                    document.cookie="user=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                    document.location = "/";
                    }
                },
                onlogin: function(assertion) {
                    body.style.cursor = "auto";
                    /* TODO: Send the assertion.
                       Refresh the page wth the current ID?
                     */
                    {{if not .UserId}}
                    form = ("<form method='POST' action='/' id='fs'>" +
                    "<input type='hidden' name='assertion' value='" +
                    assertion +
                    "'/><input type='hidden' name='audience' "+
                    "value='localhost'>" +
                    "</form>");
                    document.getElementById('browserid').innerHTML = form;
                    document.getElementById('fs').submit();
                    {{end}}
                }
        })
        if (document.getElementById("signin")) {
        document.getElementById("signin").addEventListener("click",
                function(){
                document.getElementsByTagName("body")[0].style.cursor="wait";
                navigator.id.request();
                });
        }
        if (document.getElementById("signout")) {
        document.getElementById("signout").addEventListener("click",
                function(){
                navigator.id.logout();
                document.cookie="user=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                document.location = "/";
                });
        }
{{if .UserId}}
        var cmds = document.getElementsByClassName("cmd");
        var cmdi = cmds.length;
        for (var i=0;i<cmdi;i++) {
            var b = cmds[i].getElementsByTagName("button");
            var bi = b.length;
            for (var j=0;j<bi;j++) {
                b[j].addEventListener("click",
                    function(t){
                    var send = {}
                    var cmd = t.target.dataset.cmd;
                    var args = t.target.parentElement.parentElement.getElementsByTagName("input");
                    var largs = args.length;
                    var sargs = {};
                    for (i=0; i< largs; i++) {
                        arg=args[i];
                        sargs[arg.name] = arg.value;
                        }
                    send[cmd] = sargs;
                    sendCommand(send);
               })
           }
        }
        document.getElementById("lockcode").addEventListener(
                "keyup", function(e){
                    code = e.target.value;
                    if (code.length > 0) {
                        code = code.replace(/[^\d]/,'').slice(-4);
                        console.debug(code);
                        code = ('0000' + code).slice(-4);
                        e.target.value = code;
                    }
                })
        //fix up dates...
        var plis = document.getElementsByClassName("date");
        var plisn = plis.length;
        for (var i=0; i<plisn; i++) {
            var p = plis[i];
            p.innerHTML = toDateString(p.dataset.time);
        }

        // initialize the maps
        var maps = document.getElementsByClassName('map');
        markers = [];
        if (maps.length) {
                var mapDiv = document.getElementsByClassName('map')[0];
                var id ="{{.MapKey}}";
                map = L.mapbox.map(mapDiv, id);
                var locations = document.getElementsByClassName("position");
                var iloc = locations.length;
                if (iloc > 0) {
                    var loc
                    // FYI: if map.hasLayer(marker) {map.removeLayer(marker) }
                    for (var i = 0;i<=iloc-1; i++) {
                        loc = locations[i];
                        marker = newMarker(parseFloat(loc.dataset.latitude),
                                parseFloat(loc.dataset.longitude),
                                parseInt(loc.dataset.time));
                        marker.addTo(map);
                        markers.push(marker);
                    }
                    map.setView([parseFloat(locations[iloc-1].dataset.latitude),
                                parseFloat(locations[iloc-1].dataset.longitude)], 12);
                } else {
                    map.setView([0,0], 4);
                }
{{ if .Device }}
var socket = new WebSocket("ws://{{.Host.Hostname}}/0/ws/{{.Device.ID}}");
                // socket.onopen = function(){ console.debug("Socket open..."); }
                socket.onmessage = function(msg) {
                    try {
                        data = JSON.parse(msg.data);
                        console.debug("socket rcv'd:", data);
                        if (data.Latitude + data.Longitude) {
                            var marker = newMarker(data.Latitude, data.Longitude, data.Time);
                            marker.addTo(map);
                            markers.push(marker);
                            var rm = markers.shift();
                            if (map.hasLayer(rm)) { map.removeLayer(rm) }
                            fadeMarkers();
                            // move the map to the last location
                            map.panTo([data.Latitude, data.Longitude]);
                        }
                        deviceUpdate(data);

                    } catch(e) {
                        socket.close();
                        console.error("Add Fail:", e);
                    }
                }
                // socket.onclose = function(){ console.debug("Socket closed...");}
{{end}}
            fadeMarkers();
            }
{{end}}
    });
</script>
</body>
</html>
